* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2f4f4f;
  font-family: Helvetica, Arial, sans-serif;
}

.about-me-container {
  display: flex;
  justify-content: space-between;
}

.profile-picture {
  max-height: 230px;
  max-width: 95px;
  height: auto;
  width: auto;
  margin-right: 10px;
}

.large-portfolio-picture {
  width: 1000px;
}
.small-portfolio-picture {
  width: 500px;
  height: 350px;
}
.last-portfolio-picture {
  width: 500px;
  height: 350px;
}
.another-portfolio-picture {
  width: 500px;
  height: 350px;
}
header {
  padding: 20px 35px;
  background-color: #8fbc8f;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fffacd;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fffacd;
  text-align: right;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}
footer {
  background: #8fbc8f;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  color: #fffacd;
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: #024e76;
}
section {
  padding: 60px;
}
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
